# Python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env
*.egg-info/

# macOS
.DS_Store
.AppleDouble

# Xcode / iOS
xcuserdata/
*.xcuserstate
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM
Pods/

# Env
.env
.env.local
